.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}
.videoContainer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
   height: 200px;
   margin: 20px 20px;
   flex-wrap: wrap;
}